@import "tailwindcss";

@font-face {
  font-family: 'Sweet Sans Pro';
  src: url('/fonts/SweetSansPro-Hairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Sweet Sans Pro';
  src: url('/fonts/SweetSansPro-ExLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Sweet Sans Pro';
  src: url('/fonts/SweetSansPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Sweet Sans Pro';
  src: url('/fonts/SweetSansPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sweet Sans Pro';
  src: url('/fonts/SweetSansPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Sweet Sans Pro';
  src: url('/fonts/SweetSansPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Sweet Sans Pro';
  src: url('/fonts/SweetSansPro-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@theme {
  --font-sans: "Sweet Sans Pro", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Sweet Sans Pro", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

/* Hide scrollbar site-wide */
::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
