@import "tailwindcss";

@font-face {
  font-family: 'Sweet Sans Pro';
  src: url('/fonts-v2/SweetSansPro-Hairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Sweet Sans Pro';
  src: url('/fonts-v2/SweetSansPro-ExLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Sweet Sans Pro';
  src: url('/fonts-v2/SweetSansPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Sweet Sans Pro';
  src: url('/fonts-v2/SweetSansPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sweet Sans Pro';
  src: url('/fonts-v2/SweetSansPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Sweet Sans Pro';
  src: url('/fonts-v2/SweetSansPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Sweet Sans Pro';
  src: url('/fonts-v2/SweetSansPro-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@theme {
  --font-sans: "Sweet Sans Pro", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Sweet Sans Pro", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

/* Hide scrollbar site-wide */
::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Custom scrollbar specifically for Menu Sidebar on desktop */
@media (min-width: 768px) {
  .menu-sidebar-scrollbar {
    -ms-overflow-style: auto !important;
    scrollbar-width: thin !important;
    scrollbar-color: #d8d8d8 #fafafa !important;
  }

  .menu-sidebar-scrollbar::-webkit-scrollbar {
    display: block !important;
    width: 10px !important;
  }

  .menu-sidebar-scrollbar::-webkit-scrollbar-button {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }

  .menu-sidebar-scrollbar::-webkit-scrollbar-corner {
    display: none !important;
  }

  .menu-sidebar-scrollbar::-webkit-scrollbar-thumb {
    background-color: #d8d8d8 !important;
    border-radius: 10px !important;
  }

  .menu-sidebar-scrollbar::-webkit-scrollbar-track {
    background-color: #fafafa !important;
    border-color: #d1d4d7 !important;
    border-style: solid !important;
    border-width: 0 1px !important;
  }
}
